@import "react-slideshow-image/dist/styles.css";

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  
  .each-slide h5 {
    color: whitesmoke;
}
